# Maven
target/
*.jar
!.mvn/wrapper/maven-wrapper.jar
*.war
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup

# IDE
.idea/
*.iml
.vscode/
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Environment
.env
application-local.properties
application-local.yml

# JMeter results
jmeter/results/

# Evidence (????)
evidence/screenshots/*.png
evidence/video/*.mp4
evidence/signatures/*
evidence/performance/*
